body {
  text-align: center;
  /*background-color: #fff;*/
   background-color: #ABABAB;
  /* background-color: #c0c0c0; */
  /*background-color: #d0d0d0;*/
  font-family: Cambria, serif, Serif;
  /*font-weight: bold;*/
  font-size: medium;
  color: #000;
}

h1, h2, h3 {
  font-family: sans-serif, SansSerif;
  font-weight: normal;
}

h1 {
  letter-spacing: 2px;
}

.aaSansSerif {
  font-family: sans-serif, SansSerif;
  font-weight: normal;
}

.aaFontLabel {
  font-family: sans-serif, SansSerif;
  font-weight: normal;
  font-size: small;
}
.aaFontBold {
  font-weight: bold;
}
.aaFontSizeLabel {
  font-size: small;
  background-color: transparent;
}

.aaFontData {
  color: #000;
  font-family: Cambria, serif, Serif;
  font-weight: normal;
  font-size: medium;
}

.aaFontSizeData {
  font-size: medium;
  font-weight: normal;
}

.aaIconBlack {
  color: #000;
}
.aaIconRed {
  color: #e00;
}
.aaIconGreen {
  color: #0c0;
}
.aaIconBlue {
  color: #00e;
}

.aaAppToolBar {
  display: inline-block;
  margin: 0;
  padding: 0.25pc 0;
  border-top: 1px solid #58b;
  border-bottom: 1px solid #58b;
  /*background-color: #EBF2F8;*/
  /*background-color: #58b;*/
  background-color: #fff;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  white-space: nowrap;
}

.aaNavCell {
  padding: 2px;
}

.aaNavBtn {
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid #58b;
  border-radius: 0.25pc;
}

.aaNavBtnInert {
  display: inline-block;
  padding: 2px 4px;;
  border: 1px solid #58b;
  border-radius: 0.25pc;
  border-style: dotted;
}

.aaNavBtn:hover {
  background-color: #edf2f7 !important;
  cursor: pointer;
}
.aaNavBtn:active {
  -webkit-box-shadow: 0px 0px 3px 1px #6d99c5;
  -moz-box-shadow: 0px 0px 3px 1px #6d99c5;
  box-shadow: 0px 0px 3px 1px #6D99C5;
  background-color: #fff !important;
  cursor: pointer;
}

.aaNavBtnSelected {
  /*border-style: none;*/
  -webkit-box-shadow: 0px 0px 3px 1px #6d99c5;
  -moz-box-shadow: 0px 0px 3px 1px #6d99c5;
  box-shadow: 0px 0px 3px 1px #6D99C5;
  /*background-color: #ffffee;*/
  background-color: #edf2f7 !important;
}

.aaPanelContainer {
  margin: 1pc;
  display: block;
  text-align: center;
}

.aaPanel {
  display: inline-block;
  border: 1px solid #58b;
  border-radius: 0.5pc;
  background-color: #eee;
  background-clip: border-box;
  overflow: hidden;
  font-size: medium;
}

.aaPanelBoxShadow {
  -webkit-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.2);
}
.aaPanelHeader {
  padding: 0.25pc;
  color: #fff;
  background-color: #6d99c5;
  font-family: sans-serif, SansSerif;
  font-weight: normal;
  letter-spacing: 1px;
}
.aaPanelHeaderModule {
  font-size: 150%;
  letter-spacing: 3px;
}
.aaPanelToolBar {
  padding: 0.25pc 1pc;
  white-space: nowrap;
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #999;
}
.aaPanelBody {
  padding: 1pc;
  white-space: nowrap;
  background-color: #eee;
}
.aaForm {
  /*margin-top: 1pc;*/
  text-align: left;
  font-size: medium;
}
.aaFormItemLabel {
  padding: 0.30pc 0 0.20pc 0;
  text-align: right;
  /*vertical-align: middle;*/
  font-family: sans-serif, SansSerif;
  font-weight: normal;
  font-size: small;
}
.aaFormItemData {
  padding: 0.30pc 0.5pc 0.20pc 0.5pc;
  font-size: medium;
}
.aaFormInputText {
  padding: 1px 0.5pc;
  background-color: #fff;
  font-size: medium;
  font-wieght: normal;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  cursor: inherit; /* for when dragging row in mover */
}
.aaFormInputText:disabled {
  border-style: solid;
  background-color: transparent;
  cursor: inherit; /* for when dragging row in mover */
}
.aaFormInputText:read-only {
  background-color: transparent;
  cursor: inherit; /* for when dragging row in mover */
}
.aaInlineBlock {
  display: inline-block;
}
.aaInlineFlex {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.aaEquSideContainer {
  display: inline-block;
  vertical-align: top;
}
.aaBtn {
  display: inline-flex;
  color: #333;
  /*padding: 0.25pc 0.35pc;*/
  padding: 2px 0.25pc;
  margin: 0 0.25pc;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.25pc;
  background-clip: border-box;
  background-color: transparent;
  outline-width: 0;
  font-family: sans-serif, SansSerif;
  font-weight: normal;
  font-size: small;
}
.aaHidden {
  visibility: hidden;
}
.aaBtn:hover {
  border-color: #333;
  cursor: pointer;
}
.aaBtn:active {
  color: #000;
  background-color: #B6CBE2;
  border-color: #000;
}
.aaToolBarDivider {
  display: inline-block;
  color: transparent;
  padding: 0.25pc 0;
  margin: 0 1pc;
  width: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-left: 1px solid #999;
  border-right: 1px solid #bbb;
  background-color: transparent;
  font-family: sans-serif, SansSerif;
  font-weight: normal;
  font-size: small;
}
.aaGridContainer {
  margin-top: 1pc;
  padding: 0;
  border: 1px solid #58b;
  border-radius: 0.25pc;
  background-clip: border-box;
  overflow: hidden;
  background: #ccc;
}
.aaGridTitleBar {
  padding: 0.25pc;
  color: #333;
  background-color: #b6cbe2;
  border-bottom: 1px solid #999;
  font-family: sans-serif, SansSerif;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.aaGridFooterBar {
  background-color: #b6cbe2;
  border-top: 1px solid #999;
  padding-bottom: 0.5pc;
  margin: 0;
}
.aaGridScrollableRows {
  margin: 0;
  padding: 0;
  height: 25pc;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  background-color: #ccc;
}
.aaGridFooterTotals {
  padding-top: 0.5pc;
  border-top: 3px solid #ccc;
}
.aaBgColorToolbar {
  background-color: #fff;
}
.aaRowBgColorData {
  background-color: #eee;
}
.aaRowBgColorNonData {
  background-color: #eee;
}
.aaRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; /* vertical axis */
  margin: 0;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  cursor: default;
}
.aaRowColumnHeaders {
  color: #fff;
  background-color: #bbb;
  /*
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  */
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0px 0px 3px 1px #999 inset;
  -moz-box-shadow: 0px 0px 3px 1px #999 inset;
  box-shadow: 0px 0px 3px 1px #999 inset;
}
.aaRowTotals {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  text-align: left;
  white-space: nowrap;
}
.aaRowOps {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.25pc;
  align-self: stretch;
}
.aaRowOpsOpacity {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.26;
}
.aaRowOpsHover {
  opacity: 1.0;
}
.aaRowData {
  display: inline-flex;
  align-items: center; /* vertical axis */
  align-self: stretch;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  }
.aaRowDataHover {
  cursor: default;
  background-color: #edf2f7 !important;
}
.aaCellId {
  display: inline-flex;
  width: 3pc;
  text-align: left;
}
.aaCellRowOps {
  display: inline-flex;
  /*vertical-align: middle;*/
  align-items: center; /* vertical axis */
  white-space: nowrap;
  overflow: hidden;
  width: 2.5pc;
  text-align: center;
}
.aaCellRowOpsFiller {
  display: inline-flex;
  /*padding: 0 0.35pc;*/
  /*vertical-align: top;*/
  align-items: center; /* vertical axis */
  width: 2.5pc;
  text-align: center;
}
.aaCellRowSelected {
  display: inline-flex;
  width: 1.5pc;
  text-align: center;
  font-weight: bold;
}
.aaCellBorder {
  border: 0.05pc solid #ccc;
}
.aaBchgCells {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4pc;
}
.aaBchgCellsRow {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.aaBchgCellsRowSeparation {
  margin-bottom: 0.4em; /* space between rows */
}
.aaCell {
  display: inline-block;
  padding: 0.30pc 0.5pc 0.20pc 0.5pc;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.aaCellTextEOL {
  color: #666;
  font-size: small;
}
.aaCellAcctTitle {
  width: 25pc;
  text-align: left;
}
.aaCellAnnoTitle {
  width: 25pc;
  text-align: left;
  font-family: sans-serif, SansSerif;
  text-decoration: underline;
}
.aaCellTranDate {
  width: 7pc;
  text-align: center;
  /*text-align: left;*/
}
.aaCellBchgDesc {
  width: 25pc;
  text-align: left;
}
.aaCellBchgAmt {
  text-align: right;
  width: 7pc;
}
.aaCellWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
}
.aaCellHelper {
  display: inline-flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-left-style: none;
}
.aaHelperBtn {
  padding: 2px;
  margin: 0 2px;
}
.aaTranOutOfBalance {
  color: red;
  border-color: red;
  -webkit-box-shadow: 0px 0px 3px 1px red;
  -moz-box-shadow: 0px 0px 3px 1px red;
  box-shadow: 0px 0px 3px 1px red;
}
.aaCellBchgBal {
  width: 7pc;
  text-align: right;
}

.aaCellEquSide {
  width: 8pc;
  text-align: center;
}

.aaInputText {
  background-color: inherit;
  padding: 0.25pc;
  margin: 0.25pc;
}

.aaInputText:disabled {
  border-color: transparent;
}

.aaHasFocus {
  outline: 2px solid #58b;
  outline-radius: 0.25pc;
}
.aaVerticalGridline {
  display: inline-block;
  width: 1px;
  align-self: stretch;
  background-color: #ccc;
  overflow: hidden;
}
.aaVerticalGridlineColHeaders {
  background-color: #999;
}
.aaVerticalGridlineSpacer {
  display: inline-block;
  width: 1px;
  align-self: stretch;
  background-color: transparent;
  overflow: hidden;
}
.aaBchgAmtComputed {
  border-color: transparent;
  background-color: inherit;
}
.aaModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.aaModalContent {
  border: 1px solid #58b;
  border-radius: 0.25pc;
  background-clip: border-box;
  overflow: hidden;
  position: absolute;
}
.aaDragRow {
  /* margin: 2pc;  */
  /* padding: 2pc;  */
  /* border: 1px solid black;  */
  text-align: left;
  width: 20pc;
  margin: 0;
  padding: 0.25pc 0.5pc;
  border: 1px solid black;
  cursor: default;
}
.aaDragging {
  cursor: n-resize;
  -webkit-box-shadow: 0px 0px 3px 1px #6D99C5 inset;
  -moz-box-shadow: 0px 0px 3px 1px #6D99C5 inset;
  box-shadow: 0 0 3px 1px #6D99C5 inset;
  background-color: #edf2f7 !important;
}
.aaPointerEventsNone {
  pointer-events: none;
}
.aaMostRecentlySelectedRow {
  -webkit-box-shadow: 0px 0px 3px 1px #6D99C5 inset;
  -moz-box-shadow: 0px 0px 3px 1px #6D99C5 inset;
  box-shadow: 0 0 3px 1px #6D99C5 inset;
}
